

.formContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;  
    align-items: flex-start;   
    justify-content:space-around;
    /* padding: 5px; */
   
}
.formContainerBorder{
  margin-top: 50px;
  display: flex;
  flex-direction: row;  
  align-items: flex-start;   
  justify-content:space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  border: grey 1px solid;
  border-radius: 50px;
}
.formContainer label {
    margin-right: 10px;
    margin-left: 5%;
  
  }
  .formContainer input {
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
  }
  .formContainer select {
    border:1px solid;
    border-radius: 2rem;
  }
  
 .buttonsContainer{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  gap:5%;
  margin-top: 3%;

  }
